.home-section {
    background-color: white;
}
.about-section {
    background-color: #E3F2FD;
}
.portfolio-section {
    background-color: #BBDEFB;
}
.contact-section {
    background-color: #90CAF9;
}
section {
    width: 100%;
    margin: 0px;
    padding: 20px;
}
html, body {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.nav-bar {
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-item a:link, .nav-item:visited {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
.nav-item a:hover {
    background-color: #575757;
    border-radius: 5px;
}
.nav-item a:active {
    color: white;
}
.project {
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 5px 9px rgb(0,0,0,0.1);
    border: 1px solid #333;
}
.social-links {
    list-style: none;
    padding: 0;
}
.social-links li {
    display: inline;
    margin: 0 10px;
}
.social-links li a:link, .social-links li a:visited {
    text-decoration: none;
    color: #333;
}
.social-links li a:hover {
    color: #0073b1;
}
.social-links img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
/* Media query for tablets (min-width: 600px) */
@media (min-width: 600px) {
    .nav-list {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-item {
        margin: 0 10px;
    }

    .project {
        padding: 15px;
        margin: 15px 0;
        box-shadow: 0 4px 8px rgb(0,0,0,0.1);
    }

    section {
        padding: 15px;
    }
}

/* Media query for mobile devices (max-width: 599px) */
@media (max-width: 599px) {
    .nav-bar {
        padding: 5px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 5px 0;
    }

    .nav-item a:link, .nav-item a:visited {
        padding: 8px 15px;
    }

    .project {
        padding: 10px;
        margin: 10px 0;
        box-shadow: 0 3px 6px rgb(0,0,0,0.1);
    }

    section {
        padding: 10px;
    }
    
    .social-links li {
        display: block;
        margin: 5px 0;
    }

    .social-links img {
        width: 15px;
        height: 15px;
    }
}